<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="actions" name="TaskListActions" schema="schema/actions.exsd"/>
   <extension
         id="taskview"
         name="Task List View"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.tasklist.TaskListView"
            icon="tasklist.png">
      </view>
   </extension>
   <extension
         id="id1"
         name="name"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.tasklist.internal.Refresh"
            hasState="false"
            view="pa.iscde.tasklist.taskview">
      </tool>
   </extension>

</plugin>
